doctype
html
  head
    block meta
      meta(charset="utf-8")
      //- IE Setting
      meta(http-equiv="X-UA-Compatible" content="IE=Edge")
      //- favicon
      link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
      link(rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
      //- viewport
      meta(name="viewport" content="width=device-width,initial-scale=1.0")
    block stylesheet
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
      link(href="css/style.css" rel="stylesheet")
    block script-head

  body
    block content
    block script-body
      script(src="js/app.js")
