extend base

block append meta
  //- Meta Infomations
  title No Title
  meta(name="description" content="")
  meta(name="keywords" content="")

  //- Facebook OGP
  meta(name="og:title" content="")
  meta(name="og:description" content="")
  meta(name="og:type" content="website")
  meta(name="og:url" content="")
  meta(name="og:image" content="")
  meta(name="og:site_name" content="")

  //- Twitter Card
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content="")
  meta(name="twitter:description" content="")
  meta(name="twitter:image:src" content="")

block content
  p index.html
